---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <section class="contact-section">
    <h1>Contactez-nous</h1>
    <div class="contact-details">
      <p>
        <i class="fas fa-map-marker-alt"></i> 123 Rue de la Paix, 75008 Paris
      </p>
      <p>
        <i class="fas fa-clock"></i> Ouvert du lundi au samedi de 12h à 14h et de
        19h à 22h
      </p>
      <p><i class="fas fa-phone"></i> 01 23 45 67 89</p>
      <p><i class="fas fa-envelope"></i> info@monrestaurant.com</p>
    </div>
    <form action="send-email.php" method="POST" class="contact-form">
      <label for="name">Nom</label>
      <input type="text" name="name" id="name" required />
      <label for="email">Adresse email</label>
      <input type="email" name="email" id="email" required />
      <label for="message">Message</label>
      <textarea name="message" id="message" rows="5" required></textarea>
      <button type="submit">Envoyer</button>
    </form>
  </section>
</Layout>

<style>
  .contact-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
  }

  .contact-details {
    margin-top: 50px;
  }

  .contact-details p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .contact-details i {
    margin-right: 10px;
    color: #ff0000;
  }

  .contact-form {
    max-width: 600px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-form label {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .contact-form textarea {
    resize: none;
    height: 150px;
  }

  .contact-form button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .contact-form button:hover {
    background-color: #ffffff;
    color: #000000;
  }
</style>
